* {
    margin: 0;
    font-family: 'Open Sans', sans-serif
}

/* Header and Navigation styles */
.header {
    background: #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 0px 50px;
}


.text-orange {
    color: #FD6E0A;
}

.btn-primary {
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    border: 0;
    padding: 18px 35px;
}

/* banner styles */
.banner {
    display: flex;
    margin: 0px 100px 0px 200px;
    align-items: center;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
}

.banner-discription {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;

}

/* main area */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/*  about section style */
.about {
    background: #FFF8F3;
    margin-top: 130px;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;

}

.section-title {

    margin-bottom: 30px;
    font-weight: 700;


}

.section-discription {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    text-align: center;

}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    font-size: 20px;
    color: #757575;
}

.info-discription {
    font-weight: 700;
    font-size: 20px;
    color: #474747;

}